body {
  background-color: lightgray;
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.to-do-list-container {
  background-color: white;
  position: relative;
  height: auto;
  width: auto;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  margin-bottom: 10%;
  box-shadow: 3px 4px 5px 0 rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 4px 5px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 5px 0 rgba(0, 0, 0, 0.75);
  border: none;

  .list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .title {
      font-weight: bold;
      font-size: 18px;
    }

    .sync-image {
      width: 15px;
      height: 15px;
    }
  }

  hr {
    border: 0.5px solid lightgray;
    width: 99%;
  }

  .task-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

    .task-input {
      font-style: italic;
      font-size: 15px;
      padding: 8px;
      border: none;
      width: 100%;
      background-color: transparent;
      resize: none;
      outline: none;
    }

    .return-icon {
      width: 15px;
      height: 15px;
    }
  }

  .task-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-bottom: 10%;

    .task-list {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      padding: 2px;
      border-bottom: 1px solid lightgray;

      .task {
        text-align: left;
        flex: 1;
        padding-right: 5px;
      }

      .task-icon {
        width: 25px;
        height: 25px;

        &:hover {
          cursor: move;
        }
      }
    }
  }

  .bottom-area {
    cursor: pointer;
    background-color: lightgray;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;

    .bottom-text {
      text-align: center;
      color: black;
      font-weight: bold;
    }
  }
}
