$boxShadow: 3px 4px 5px 0 rgba(0, 0, 0, 0.75);
$removeBoxShadow: 0 0 0 0 rgba(0, 0, 0, 0);

body {
  background-color: lightgray;
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.to-do-list-container {
  background-color: white;
  position: relative;
  height: auto;
  width: auto;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  margin-bottom: 10%;
  box-shadow: $boxShadow;
  -webkit-box-shadow: $boxShadow;
  -moz-box-shadow: $boxShadow;
  border: none;

  .list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .title {
      font-weight: bold;
      font-size: 18px;
    }

    .sync-image {
      width: 15px;
      height: 15px;
      cursor: pointer;
    }
  }

  hr {
    border: 0.5px solid lightgray;
    width: 99%;
  }

  .task-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-bottom: 20px;
    box-shadow: $removeBoxShadow;
    -webkit-box-shadow: $removeBoxShadow;
    -moz-box-shadow: $removeBoxShadow;

    .task-form {
      width: 90%;

      .task-input {
        font-style: italic;
        font-size: 15px;
        text-align: left;
        flex: 1;
        padding-right: 5px;
        border: none;
        background-color: transparent;
        resize: none;
        outline: none;
        width: 100%;
      }
    }

    .return-icon {
      cursor: pointer;
      width: 10%;

      svg {
        width: 15px;
        height: 15px;
      }
    }
  }

  .task-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-bottom: 10%;
    box-shadow: $removeBoxShadow;
    -webkit-box-shadow: $removeBoxShadow;
    -moz-box-shadow: $removeBoxShadow;

    .task-list {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 99%;
      justify-content: space-between;
      padding: 2px;
      border-bottom: 1px solid lightgray;

      .task {
        text-align: left;
        flex: 1;
        padding-right: 5px;
        border: none;
        background-color: transparent;
        resize: none;
        outline: none;
      }

      .task-icon {
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;

        &:hover {
          cursor: move;
        }
      }
    }
  }

  .bottom-area {
    cursor: pointer;
    background-color: lightgray;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    visibility: hidden;

    .bottom-text {
      text-align: center;
      color: black;
      font-weight: bold;
    }
  }
}
